<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer bg-dark text-white py-4 mt-auto">
    <div class="container text-center">

        <ul class="list-inline">
            <li class="list-inline-item"><a href="/info/privacy" class="text-white">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/info/terms" class="text-white">Terms of Service</a></li>
            <li class="list-inline-item"><a href="/info/contact" class="text-white">Contact Us</a></li>
        </ul>
        <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> ABC-Scholarship-Finder. All rights reserved.</p>
    </div>
</footer>
</body>
</html>